" Vim config gitignore file

*.sw*
*~

.DS_Store

bundle/
plugged/
autoload/plug.vim
autoload/plug.vim.old
spell/
undodir/
nvim_undodir/
.netrwhist
plugin/instantlyBetterVim12/
plugin/instantlyBetterVim13/
